In [37]:
import numpy as np
from sklearn import preprocessing

import pandas as pd

data = pd.read_csv('binarize_test.csv')
data.head()
data

   Country   Age   Salary
0   Taiwan    24    40000
1    Korea    30    56000
2    Japan    45    65000
3   Taiwan    40    60000
4  America    27    45000
5  America    35    60000
6   Taiwan    32    50000
7    Japan    35    55000

In [77]:
age = data.iloc[:, 1].values 
salary = data.iloc[:, 2].values

x = age.reshape(1,-1)
y = salary.reshape(1,-1)

binarizer_x = Binarizer(threshold = 35) 
binarizer_y = Binarizer(threshold = 50000)

print('Age after Binarized:', binarizer_x.fit_transform(x))
print('Salary after Binarized:', binarizer_y.fit_transform(y))

Age after Binarized: [[0 0 1 1 0 0 0 0]]
Salary after Binarized: [[0 1 1 1 0 1 0 1]]