In [5]:
import pandas as pd

data = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')
data.columns = ['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep', 'Physical Activity Level', 'Stress Level', 'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder']
data = data.drop(['Person ID'], axis=1)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Number of instances = 374
Number of attributes = 12

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [13]:
from sklearn.model_selection import train_test_split
x = data.loc[:,['Gender', 'Occupation', 'Quality of Sleep','Stress Level']]
x

     Gender            Occupation  Quality of Sleep  Stress Level
0      Male     Software Engineer                 6             6
1      Male                Doctor                 6             8
2      Male                Doctor                 6             8
3      Male  Sales Representative                 4             8
4      Male  Sales Representative                 4             8
..      ...                   ...               ...           ...
369  Female                 Nurse                 9             3
370  Female                 Nurse                 9             3
371  Female                 Nurse                 9             3
372  Female                 Nurse                 9             3
373  Female                 Nurse                 9             3

[374 rows x 4 columns]

In [21]:
y = data.loc[:,['Sleep Duration']]
y

     Sleep Duration
0               6.1
1               6.2
2               6.2
3               5.9
4               5.9
..              ...
369             8.1
370             8.0
371             8.1
372             8.1
373             8.1

[374 rows x 1 columns]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size = 0.6,random_state=2)
x_train

     Gender   Occupation  Quality of Sleep  Stress Level
104  Female      Teacher                 8             4
264    Male       Doctor                 7             5
235    Male  Salesperson                 6             7
85   Female   Accountant                 8             4
214    Male     Engineer                 8             5
..      ...          ...               ...           ...
299  Female     Engineer                 9             3
22     Male       Doctor                 7             6
72     Male       Doctor                 6             8
15     Male       Doctor                 6             8
168    Male       Lawyer                 7             6

[224 rows x 4 columns]

In [31]:
y_train

     Sleep Duration
104             7.2
264             7.3
235             6.3
85              7.2
214             7.8
..              ...
299             8.5
22              7.7
72              6.1
15              6.0
168             7.1

[224 rows x 1 columns]

In [33]:
x_test

     Gender            Occupation  Quality of Sleep  Stress Level
173    Male                Lawyer                 8             5
205    Male              Engineer                 8             5
70     Male                Doctor                 6             8
118  Female            Accountant                 8             4
32   Female                 Nurse                 8             4
..      ...                   ...               ...           ...
39     Male                Doctor                 7             6
244    Male           Salesperson                 6             7
232  Female               Teacher                 7             4
54     Male                Doctor                 6             8
4      Male  Sales Representative                 4             8

[150 rows x 4 columns]

In [35]:
y_test

     Sleep Duration
173             7.7
205             7.7
70              6.1
118             7.2
32              7.9
..              ...
39              7.6
244             6.3
232             6.6
54              6.0
4               5.9

[150 rows x 1 columns]

In [67]:
from sklearn.utils.random import sample_without_replacement
sample_without_replacement(x.shape[0],20,random_state=2,method='auto')
#x.shape[0] x's rows
#對資料集沒有實際作用，只能挑出[0,x.shape)中的數字，但可以當成取樣的ID參考

array([173, 205,  70, 118,  32,   7,  99, 142, 212,  28, 362, 217, 216,
       198, 282, 305, 200, 220, 265,  20])

In [101]:
from sklearn.preprocessing import MinMaxScaler
z = data.loc[:,['Age', 'Sleep Duration', 'Physical Activity Level']]
scaler = MinMaxScaler(feature_range = (0,1))
print(scaler.fit(z))
print(scaler.transform(z))

MinMaxScaler()
[[0.         0.11111111 0.2       ]
 [0.03125    0.14814815 0.5       ]
 [0.03125    0.14814815 0.5       ]
 ...
 [1.         0.85185185 0.75      ]
 [1.         0.85185185 0.75      ]
 [1.         0.85185185 0.75      ]]

In [138]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(z)
print(scaler.transform(z))

[[-1.75309569 -1.29888693 -0.82541823]
 [-1.63764266 -1.17303623  0.03984423]
 [-1.63764266 -1.17303623  0.03984423]
 ...
 [ 1.94140144  1.21812712  0.76089629]
 [ 1.94140144  1.21812712  0.76089629]
 [ 1.94140144  1.21812712  0.76089629]]

In [130]:
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
pca.fit(z)
print(pca.transform(z))

[[-18.46424255 -13.61314416]
 [ -0.44655199 -14.22267006]
 [ -0.44655199 -14.22267006]
 [-30.32863514 -11.55129235]
 [-30.32863514 -11.55129235]
 [-30.32863514 -11.55129235]
 [-20.27626159 -11.43757426]
 [ 14.59596947 -14.52126555]
 [ 14.59596947 -14.52126555]
 [ 14.59596947 -14.52126555]
 [-30.23780821 -10.54997729]
 [ 14.59596947 -14.52126555]
 [-30.23780821 -10.54997729]
 [-30.23866045 -10.55283956]
 [-30.23866045 -10.55283956]
 [-30.23866045 -10.55283956]
 [-20.27455712 -11.43184974]
 [-30.23866045 -10.55283956]
 [-20.27455712 -11.43184974]
 [ 14.68338746 -13.53139955]
 [ 14.68423969 -13.52853728]
 [ 14.68423969 -13.52853728]
 [ 14.68423969 -13.52853728]
 [ 14.68423969 -13.52853728]
 [ 14.68509193 -13.52567502]
 [ 14.68594417 -13.52281276]
 [ 14.68509193 -13.52567502]
 [ 14.68594417 -13.52281276]
 [ 14.68594417 -13.52281276]
 [ 14.68594417 -13.52281276]
 [-25.16620797  -9.99246072]
 [-25.16620797  -9.99246072]
 [ 14.77506663 -12.52722222]
 [-30.05956329  -8.55879622]
 [ 14.77336216 -12.53294675]
 [-30.05956329  -8.55879622]
 [-30.05956329  -8.55879622]
 [ 14.77250992 -12.53580901]
 [ 14.77250992 -12.53580901]
 [ 14.77250992 -12.53580901]
 [ 14.77336216 -12.53294675]
 [ 14.77336216 -12.53294675]
 [ 14.77336216 -12.53294675]
 [ 14.77421439 -12.53008448]
 [ 14.77336216 -12.53294675]
 [ 14.77421439 -12.53008448]
 [ 14.77336216 -12.53294675]
 [ 14.77421439 -12.53008448]
 [ 14.77336216 -12.53294675]
 [ 14.77336216 -12.53294675]
 [-15.0187463   -8.86311625]
 [-15.0187463   -8.86311625]
 [-29.97129306  -7.56606795]
 [ 14.86163238 -11.54021848]
 [-29.97129306  -7.56606795]
 [-29.97129306  -7.56606795]
 [ 14.86248462 -11.53735621]
 [-29.97129306  -7.56606795]
 [-29.97129306  -7.56606795]
 [ 14.86248462 -11.53735621]
 [-29.97129306  -7.56606795]
 [-29.97129306  -7.56606795]
 [-29.96958859  -7.56034343]
 [-29.96958859  -7.56034343]
 [-29.96958859  -7.56034343]
 [-29.96958859  -7.56034343]
 [-10.04138193  -9.31836379]
 [-29.8821706   -6.57047742]
 [ -9.96078183  -8.35139589]
 [ -9.96078183  -8.35139589]
 [-29.88131837  -6.56761516]
 [-29.88131837  -6.56761516]
 [-29.88131837  -6.56761516]
 [-29.88131837  -6.56761516]
 [-29.8821706   -6.57047742]
 [-29.8821706   -6.57047742]
 [-29.8821706   -6.57047742]
 [-29.8821706   -6.57047742]
 [-29.8821706   -6.57047742]
 [-29.8821706   -6.57047742]
 [-27.80278418  -5.75927571]
 [-27.80278418  -5.75927571]
 [-19.73811788  -5.452582  ]
 [-19.73811788  -5.452582  ]
 [  0.18838431  -7.21632689]
 [  0.1858276   -7.22491368]
 [  0.1858276   -7.22491368]
 [  0.1858276   -7.22491368]
 [  0.18667983  -7.22205142]
 [  0.18667983  -7.22205142]
 [  0.18667983  -7.22205142]
 [  0.18667983  -7.22205142]
 [  0.18838431  -7.21632689]
 [  0.18753207  -7.21918916]
 [  0.27495006  -6.22932315]
 [  0.27409782  -6.23218541]
 [  0.27495006  -6.22932315]
 [  0.27409782  -6.23218541]
 [  0.27409782  -6.23218541]
 [  0.27409782  -6.23218541]
 [  0.27495006  -6.22932315]
 [  0.27495006  -6.22932315]
 [  0.27495006  -6.22932315]
 [-24.62976873  -4.01319299]
 [  0.27495006  -6.22932315]
 [-24.62976873  -4.01319299]
 [-17.57301794  -3.65723882]
 [ 10.32902808  -6.10988053]
 [ 10.32902808  -6.10988053]
 [  0.36577699  -5.22800809]
 [  0.36407252  -5.23373261]
 [  0.36577699  -5.22800809]
 [  0.36407252  -5.23373261]
 [  0.36577699  -5.22800809]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36407252  -5.23373261]
 [  0.36662923  -5.22514582]
 [  0.45404722  -4.23527982]
 [  0.45234275  -4.24100434]
 [  0.45404722  -4.23527982]
 [  0.45404722  -4.23527982]
 [  0.45234275  -4.24100434]
 [  0.45404722  -4.23527982]
 [  0.45404722  -4.23527982]
 [  0.45234275  -4.24100434]
 [  0.45404722  -4.23527982]
 [  0.45404722  -4.23527982]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45234275  -4.24100434]
 [  0.45489945  -4.23241755]
 [  0.54231744  -3.24255154]
 [-19.38333251  -1.47594439]
 [ -9.42008141  -2.35781684]
 [ 20.46881963  -5.00629643]
 [ 20.46881963  -5.00629643]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [  0.54231744  -3.24255154]
 [ -4.34848117  -1.80030026]
 [ -4.34848117  -1.80030026]
 [ 30.516932    -4.90688966]
 [ 30.516932    -4.90688966]
 [ 30.60349775  -3.91988591]
 [ 10.68125675  -2.14182971]
 [ -4.26021095  -0.80757199]
 [ -4.26021095  -0.80757199]
 [ 30.60434999  -3.91702365]
 [ 30.60434999  -3.91702365]
 [ 30.60434999  -3.91702365]
 [ 30.60434999  -3.91702365]
 [ 30.60434999  -3.91702365]
 [ 30.60349775  -3.91988591]
 [ 30.60349775  -3.91988591]
 [ 30.60349775  -3.91988591]
 [-14.13604405   1.06416646]
 [ 30.69432469  -2.91857085]
 [ 30.69432469  -2.91857085]
 [ 30.69432469  -2.91857085]
 [ 30.69432469  -2.91857085]
 [ 30.69432469  -2.91857085]
 [ 30.69432469  -2.91857085]
 [-14.13348734   1.07275325]
 [-14.13348734   1.07275325]
 [-14.04521712   2.06548152]
 [-14.04862606   2.05403247]
 [-14.04521712   2.06548152]
 [-14.04692159   2.05975699]
 [-14.04521712   2.06548152]
 [-14.04777382   2.05689473]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [-14.04692159   2.05975699]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [-12.05154421   1.89254175]
 [ 15.84197945  -0.5887226 ]
 [ 30.78259491  -1.92584258]
 [ 30.78259491  -1.92584258]
 [ 30.78259491  -1.92584258]
 [ 30.78259491  -1.92584258]
 [ 30.78344715  -1.92298032]
 [ 30.78259491  -1.92584258]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [ 30.78344715  -1.92298032]
 [-14.04692159   2.05975699]
 [-13.95694689   3.05820979]
 [-13.95865136   3.05248526]
 [-13.9595036    3.049623  ]
 [-13.95865136   3.05248526]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95694689   3.05820979]
 [-13.9595036    3.049623  ]
 [-13.95865136   3.05248526]
 [-13.95779913   3.05534753]
 [-13.9595036    3.049623  ]
 [-13.95865136   3.05248526]
 [-13.95779913   3.05534753]
 [-13.9595036    3.049623  ]
 [-13.95865136   3.05248526]
 [-13.95779913   3.05534753]
 [-13.9595036    3.049623  ]
 [-13.95779913   3.05534753]
 [-13.9595036    3.049623  ]
 [-13.95524242   3.06393432]
 [-13.95865136   3.05248526]
 [-13.95779913   3.05534753]
 [-28.80588318   5.3995071 ]
 [-28.80588318   5.3995071 ]
 [-13.86867667   4.05093806]
 [-13.86867667   4.05093806]
 [-13.86867667   4.05093806]
 [-13.86867667   4.05093806]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [-13.86782443   4.05380033]
 [ -3.90542557   3.16906562]
 [  6.3251929    5.27396478]
 [ 31.21286697   3.00058935]
 [  6.3251929    5.27396478]
 [ 31.30454614   4.00476667]
 [ 31.30284167   3.99904215]
 [ 31.30369391   4.00190441]
 [ 31.30369391   4.00190441]
 [ 31.30369391   4.00190441]
 [ 31.30369391   4.00190441]
 [ 31.30454614   4.00476667]
 [ 31.30454614   4.00476667]
 [ 31.30454614   4.00476667]
 [ 26.34081755   4.50581043]
 [ 26.34081755   4.50581043]
 [ 31.39281637   4.99749494]
 [-28.34748734  10.42039372]
 [ 31.39196413   4.99463268]
 [ 31.39281637   4.99749494]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39196413   4.99463268]
 [ 31.39281637   4.99749494]
 [ 31.39196413   4.99463268]
 [ 31.39281637   4.99749494]
 [ 31.39281637   4.99749494]
 [ 31.39196413   4.99463268]
 [ 31.39281637   4.99749494]
 [ 31.39196413   4.99463268]
 [ 31.39281637   4.99749494]
 [ 31.39281637   4.99749494]
 [-28.25666041  11.42170878]
 [-28.25666041  11.42170878]
 [-28.25666041  11.42170878]
 [-28.25666041  11.42170878]
 [ -3.36898634   9.14833335]
 [ 31.48108659   5.99022321]
 [ 31.48193883   5.99308548]
 [ 31.48193883   5.99308548]
 [-13.24481944  11.0200718 ]
 [-13.24481944  11.0200718 ]
 [-13.2439672   11.02293407]
 [-13.2439672   11.02293407]
 [-13.2439672   11.02293407]
 [-13.2439672   11.02293407]
 [-28.16839018  12.41443705]
 [-28.16839018  12.41443705]
 [-28.16839018  12.41443705]
 [-28.08011996  13.40716532]
 [-28.07841548  13.41288985]
 [-28.07841548  13.41288985]
 [-28.07926772  13.41002759]
 [-28.07926772  13.41002759]
 [-28.07841548  13.41288985]
 [-28.07926772  13.41002759]
 [-28.07926772  13.41002759]
 [-28.07841548  13.41288985]
 [-28.08011996  13.40716532]
 [-28.07841548  13.41288985]
 [-28.08011996  13.40716532]
 [-28.07841548  13.41288985]
 [-28.08011996  13.40716532]
 [-28.07841548  13.41288985]
 [-28.07841548  13.41288985]
 [-28.07926772  13.41002759]
 [-27.99014526  14.40561812]
 [-27.99014526  14.40561812]
 [-27.99014526  14.40561812]
 [-27.99014526  14.40561812]
 [-27.99014526  14.40561812]
 [-27.99014526  14.40561812]
 [-27.98929302  14.40848038]
 [ 16.91571017  11.37267513]
 [ 16.91571017  11.37267513]
 [ 31.94544809  11.03114568]
 [ 31.94544809  11.03114568]
 [ 17.09395509  13.3638562 ]
 [ 17.09480732  13.36671846]
 [ 17.09480732  13.36671846]
 [ 17.09480732  13.36671846]
 [ 17.09480732  13.36671846]
 [ 17.09480732  13.36671846]
 [ 17.09395509  13.3638562 ]
 [ 17.09395509  13.3638562 ]
 [ 17.09395509  13.3638562 ]
 [ 17.18222531  14.35658447]
 [ 17.18222531  14.35658447]
 [ 17.18222531  14.35658447]
 [ 17.18222531  14.35658447]
 [ 17.18222531  14.35658447]
 [ 17.18222531  14.35658447]
 [ 17.27134777  15.352175  ]
 [ 17.27220001  15.35503726]
 [ 17.27305225  15.35789953]
 [ 17.27305225  15.35789953]
 [ 17.27305225  15.35789953]
 [ 17.27305225  15.35789953]
 [ 17.27134777  15.352175  ]
 [ 17.27134777  15.352175  ]
 [ 17.27220001  15.35503726]
 [ 17.27134777  15.352175  ]
 [ 17.27220001  15.35503726]
 [ 17.27220001  15.35503726]
 [ 17.27134777  15.352175  ]
 [ 17.27220001  15.35503726]
 [ 17.27220001  15.35503726]
 [ 17.27220001  15.35503726]]

In [152]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold = 5)
selector.fit(z)
selector.get_support()

array([ True, False,  True])

In [154]:
print(selector.fit_transform(z))

[[27. 42.]
 [28. 60.]
 [28. 60.]
 [28. 30.]
 [28. 30.]
 [28. 30.]
 [29. 40.]
 [29. 75.]
 [29. 75.]
 [29. 75.]
 [29. 30.]
 [29. 75.]
 [29. 30.]
 [29. 30.]
 [29. 30.]
 [29. 30.]
 [29. 40.]
 [29. 30.]
 [29. 40.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 75.]
 [30. 35.]
 [30. 35.]
 [31. 75.]
 [31. 30.]
 [31. 75.]
 [31. 30.]
 [31. 30.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [31. 75.]
 [32. 45.]
 [32. 45.]
 [32. 30.]
 [32. 75.]
 [32. 30.]
 [32. 30.]
 [32. 75.]
 [32. 30.]
 [32. 30.]
 [32. 75.]
 [32. 30.]
 [32. 30.]
 [32. 30.]
 [32. 30.]
 [32. 30.]
 [32. 30.]
 [32. 50.]
 [33. 30.]
 [33. 50.]
 [33. 50.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [33. 30.]
 [34. 32.]
 [34. 32.]
 [35. 40.]
 [35. 40.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [35. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 60.]
 [36. 35.]
 [36. 60.]
 [36. 35.]
 [37. 42.]
 [37. 70.]
 [37. 70.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [37. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [38. 60.]
 [39. 60.]
 [39. 40.]
 [39. 50.]
 [39. 80.]
 [39. 80.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [39. 60.]
 [40. 55.]
 [40. 55.]
 [40. 90.]
 [40. 90.]
 [41. 90.]
 [41. 70.]
 [41. 55.]
 [41. 55.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [41. 90.]
 [42. 45.]
 [42. 90.]
 [42. 90.]
 [42. 90.]
 [42. 90.]
 [42. 90.]
 [42. 90.]
 [42. 45.]
 [42. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 45.]
 [43. 90.]
 [43. 90.]
 [43. 47.]
 [43. 75.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 90.]
 [43. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [44. 45.]
 [45. 30.]
 [45. 30.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 45.]
 [45. 55.]
 [48. 65.]
 [48. 90.]
 [48. 65.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 90.]
 [49. 85.]
 [49. 85.]
 [50. 90.]
 [50. 30.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [50. 90.]
 [51. 30.]
 [51. 30.]
 [51. 30.]
 [51. 30.]
 [51. 55.]
 [51. 90.]
 [51. 90.]
 [51. 90.]
 [52. 45.]
 [52. 45.]
 [52. 45.]
 [52. 45.]
 [52. 45.]
 [52. 45.]
 [52. 30.]
 [52. 30.]
 [52. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [53. 30.]
 [54. 30.]
 [54. 30.]
 [54. 30.]
 [54. 30.]
 [54. 30.]
 [54. 30.]
 [54. 30.]
 [55. 75.]
 [55. 75.]
 [56. 90.]
 [56. 90.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [57. 75.]
 [58. 75.]
 [58. 75.]
 [58. 75.]
 [58. 75.]
 [58. 75.]
 [58. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]
 [59. 75.]]

In [186]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest, chi2
w = load_iris().target
kbest = SelectKBest(chi2, k=2)
z_train, z_test = train_test_split(z,test_size=150,random_state=2)
z_new = kbest.fit_transform(z_test, w)
z_new.shape

(150, 2)

In [196]:
kbest.get_support() #檢視哪一欄的得分最低，將被剔除

array([ True, False,  True])

In [194]:
kbest.inverse_transform(z_new) #col2 data全部歸零

array([[41.,  0., 90.],
       [43.,  0., 90.],
       [33.,  0., 30.],
       [37.,  0., 60.],
       [31.,  0., 75.],
       [29.,  0., 75.],
       [36.,  0., 60.],
       [38.,  0., 60.],
       [43.,  0., 90.],
       [30.,  0., 75.],
       [59.,  0., 75.],
       [43.,  0., 90.],
       [43.,  0., 90.],
       [43.,  0., 45.],
       [50.,  0., 90.],
       [51.,  0., 90.],
       [43.,  0., 45.],
       [44.,  0., 45.],
       [48.,  0., 90.],
       [30.,  0., 75.],
       [32.,  0., 75.],
       [42.,  0., 90.],
       [54.,  0., 30.],
       [28.,  0., 60.],
       [30.,  0., 75.],
       [49.,  0., 90.],
       [30.,  0., 75.],
       [33.,  0., 30.],
       [33.,  0., 50.],
       [43.,  0., 75.],
       [50.,  0., 90.],
       [44.,  0., 45.],
       [38.,  0., 60.],
       [39.,  0., 60.],
       [44.,  0., 45.],
       [41.,  0., 90.],
       [42.,  0., 90.],
       [52.,  0., 45.],
       [57.,  0., 75.],
       [58.,  0., 75.],
       [33.,  0., 50.],
       [59.,  0., 75.],
       [44.,  0., 45.],
       [29.,  0., 30.],
       [43.,  0., 90.],
       [32.,  0., 30.],
       [55.,  0., 75.],
       [59.,  0., 75.],
       [45.,  0., 45.],
       [33.,  0., 30.],
       [44.,  0., 45.],
       [41.,  0., 90.],
       [30.,  0., 35.],
       [44.,  0., 45.],
       [43.,  0., 47.],
       [37.,  0., 60.],
       [50.,  0., 90.],
       [44.,  0., 45.],
       [35.,  0., 60.],
       [39.,  0., 60.],
       [39.,  0., 80.],
       [52.,  0., 45.],
       [52.,  0., 30.],
       [37.,  0., 60.],
       [41.,  0., 90.],
       [45.,  0., 45.],
       [32.,  0., 30.],
       [41.,  0., 90.],
       [37.,  0., 60.],
       [53.,  0., 30.],
       [51.,  0., 90.],
       [28.,  0., 30.],
       [49.,  0., 90.],
       [40.,  0., 90.],
       [50.,  0., 90.],
       [44.,  0., 45.],
       [36.,  0., 60.],
       [49.,  0., 90.],
       [37.,  0., 70.],
       [53.,  0., 30.],
       [32.,  0., 50.],
       [43.,  0., 45.],
       [42.,  0., 90.],
       [42.,  0., 90.],
       [37.,  0., 60.],
       [29.,  0., 30.],
       [29.,  0., 30.],
       [42.,  0., 90.],
       [36.,  0., 60.],
       [44.,  0., 45.],
       [30.,  0., 75.],
       [41.,  0., 90.],
       [39.,  0., 60.],
       [49.,  0., 90.],
       [44.,  0., 45.],
       [40.,  0., 55.],
       [57.,  0., 75.],
       [31.,  0., 30.],
       [45.,  0., 45.],
       [52.,  0., 30.],
       [29.,  0., 30.],
       [43.,  0., 45.],
       [49.,  0., 85.],
       [50.,  0., 90.],
       [53.,  0., 30.],
       [35.,  0., 60.],
       [43.,  0., 45.],
       [54.,  0., 30.],
       [49.,  0., 90.],
       [38.,  0., 60.],
       [39.,  0., 60.],
       [38.,  0., 60.],
       [36.,  0., 60.],
       [56.,  0., 90.],
       [52.,  0., 30.],
       [59.,  0., 75.],
       [42.,  0., 90.],
       [53.,  0., 30.],
       [32.,  0., 30.],
       [43.,  0., 45.],
       [50.,  0., 90.],
       [50.,  0., 90.],
       [38.,  0., 60.],
       [45.,  0., 45.],
       [31.,  0., 75.],
       [29.,  0., 75.],
       [57.,  0., 75.],
       [39.,  0., 40.],
       [59.,  0., 75.],
       [43.,  0., 90.],
       [38.,  0., 60.],
       [38.,  0., 60.],
       [51.,  0., 30.],
       [44.,  0., 45.],
       [41.,  0., 70.],
       [50.,  0., 90.],
       [33.,  0., 30.],
       [37.,  0., 42.],
       [35.,  0., 60.],
       [50.,  0., 30.],
       [51.,  0., 90.],
       [30.,  0., 75.],
       [50.,  0., 90.],
       [44.,  0., 45.],
       [41.,  0., 90.],
       [31.,  0., 75.],
       [44.,  0., 45.],
       [44.,  0., 45.],
       [32.,  0., 30.],
       [28.,  0., 30.]])

In [200]:
z_new #只剩兩個feature的z_new dataset

array([[41., 90.],
       [43., 90.],
       [33., 30.],
       [37., 60.],
       [31., 75.],
       [29., 75.],
       [36., 60.],
       [38., 60.],
       [43., 90.],
       [30., 75.],
       [59., 75.],
       [43., 90.],
       [43., 90.],
       [43., 45.],
       [50., 90.],
       [51., 90.],
       [43., 45.],
       [44., 45.],
       [48., 90.],
       [30., 75.],
       [32., 75.],
       [42., 90.],
       [54., 30.],
       [28., 60.],
       [30., 75.],
       [49., 90.],
       [30., 75.],
       [33., 30.],
       [33., 50.],
       [43., 75.],
       [50., 90.],
       [44., 45.],
       [38., 60.],
       [39., 60.],
       [44., 45.],
       [41., 90.],
       [42., 90.],
       [52., 45.],
       [57., 75.],
       [58., 75.],
       [33., 50.],
       [59., 75.],
       [44., 45.],
       [29., 30.],
       [43., 90.],
       [32., 30.],
       [55., 75.],
       [59., 75.],
       [45., 45.],
       [33., 30.],
       [44., 45.],
       [41., 90.],
       [30., 35.],
       [44., 45.],
       [43., 47.],
       [37., 60.],
       [50., 90.],
       [44., 45.],
       [35., 60.],
       [39., 60.],
       [39., 80.],
       [52., 45.],
       [52., 30.],
       [37., 60.],
       [41., 90.],
       [45., 45.],
       [32., 30.],
       [41., 90.],
       [37., 60.],
       [53., 30.],
       [51., 90.],
       [28., 30.],
       [49., 90.],
       [40., 90.],
       [50., 90.],
       [44., 45.],
       [36., 60.],
       [49., 90.],
       [37., 70.],
       [53., 30.],
       [32., 50.],
       [43., 45.],
       [42., 90.],
       [42., 90.],
       [37., 60.],
       [29., 30.],
       [29., 30.],
       [42., 90.],
       [36., 60.],
       [44., 45.],
       [30., 75.],
       [41., 90.],
       [39., 60.],
       [49., 90.],
       [44., 45.],
       [40., 55.],
       [57., 75.],
       [31., 30.],
       [45., 45.],
       [52., 30.],
       [29., 30.],
       [43., 45.],
       [49., 85.],
       [50., 90.],
       [53., 30.],
       [35., 60.],
       [43., 45.],
       [54., 30.],
       [49., 90.],
       [38., 60.],
       [39., 60.],
       [38., 60.],
       [36., 60.],
       [56., 90.],
       [52., 30.],
       [59., 75.],
       [42., 90.],
       [53., 30.],
       [32., 30.],
       [43., 45.],
       [50., 90.],
       [50., 90.],
       [38., 60.],
       [45., 45.],
       [31., 75.],
       [29., 75.],
       [57., 75.],
       [39., 40.],
       [59., 75.],
       [43., 90.],
       [38., 60.],
       [38., 60.],
       [51., 30.],
       [44., 45.],
       [41., 70.],
       [50., 90.],
       [33., 30.],
       [37., 42.],
       [35., 60.],
       [50., 30.],
       [51., 90.],
       [30., 75.],
       [50., 90.],
       [44., 45.],
       [41., 90.],
       [31., 75.],
       [44., 45.],
       [44., 45.],
       [32., 30.],
       [28., 30.]])